* {
  font-family: "Roboto" sans-serif;
  color: #002a5f;
}

section {
  padding-top: 100px;
  padding-bottom: 100px;
}

/* Default style for text */
p.base-text {
  font-size: 20px;
  font-weight: 600;
  color: gray;
}

h2 {
  font-size: 56px;
}

div.section-title {
  padding-bottom: 2em;
}

button.lit-btn {
  background-color: #243c98;
  border: none;
  color: white;
  padding: 10px;
  text-align: center;
  display: inline-block;
  font-size: 22px;
  border-radius: 100px;
}

div.container {
  padding-top: 35px;
  padding-bottom: 35px;
}

/* Centers the content of the div both vertically and horizontally */
div.center-vh {
  margin-top: auto;
  margin-bottom: auto;
  text-align: center;
}

/* Navbar CSS starts here */
.navbar {
  background-color: rgba(255, 255, 255, 0);
  -webkit-transition: all 0.2s ease 0s;
  -o-transition: all 0.2s ease 0s;
  transition: all 0.2s ease 0s;
}

.navbar-scrolled {
  background-color: #002a5f;
  -webkit-transition: all 0.2s ease 0s;
  -o-transition: all 0.2s ease 0s;
  transition: all 0.2s ease 0s;
}

.nav-link {
  color: grey;
  -webkit-transition: all 0.2s ease 0s;
  -o-transition: all 0.2s ease 0s;
  transition: all 0.2s ease 0s;
}
.nav-link:hover {
  color: #002a5f;
}

.nav-link-scrolled {
  color: white;
  -webkit-transition: all 0.2s ease 0s;
  -o-transition: all 0.2s ease 0s;
  transition: all 0.2s ease 0s;
}
.nav-link-scrolled:hover {
  border-bottom: 4px solid white;
  color: white;
}
.navbar-nav li.active > a.nav-link-scrolled {
  border-bottom: 4px solid white;
  color: white;
}
/* Navbar CSS ends here */

/* Home CSS starts here */
#sec_home {
  /* height: 100vh; */
  min-height: 900px;
  padding: 50px 200px 0px 200px;
}

#img_home {
  opacity: 0.2;
  width: 1150px;
  margin-top: -100px;
}
/* Home CSS ends here */

/* Why CSS starts here */
#sec_why {
  background-color: #f9f9f9;
}

/* .blurry-text {
  font-size: 28px;
  font-weight: 600;
  color: transparent;
  text-shadow: 0 0 5px rgba(97, 41, 64, 0.5);
} */
/* Why CSS ends here */
.spreadsheet-img {
  width: 35%;
  height: 45%;
  position: absolute;
  margin-top: -200px;
  right: 20px;
}
/* Benefits CSS starts here */
#sec_benefits {
  background-color: #ffffff;
}
/* Benefits CSS ends here */

/* Features CSS starts here */
#sec_features {
  background-color: #f9f9f9;
}

.feature-card {
  color: #002a5f;
  background-color: #ffffff;
  border-radius: 20px;
  min-height: 150px;
  /* height: 150px; */
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  margin: 10px 10px 10px 10px;
  font-size: 15px;
}

.feature-card > div.row {
  padding: 20px 20px 7px 20px;
}

.feature-card:hover {
  box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.2);
}

.feature-card > div.row > img {
  margin-left: 0;
  object-fit: scale-down;
}
/* Features CSS ends here */

/* Mock-ups CSS starts here */
#sec_prototypes {
  background-color: #ffffff;
}

.carousel-inner > .carousel-item {
  max-height: inherit;
}

.carousel-item > img {
  max-height: inherit;
  object-fit: scale-down;
  border: solid 2px red;
}
/* Mock-ups CSS ends here */

/* Architecture CSS starts here */
#sec_architecture {
  background-color: #f9f9f9;
}

.tech-img {
  height: 170px;
  /* margin: 20px; */
  padding: 20px;
}
/* Architecture CSS ends here */

/* Team CSS starts here */
#sec_team {
  background-color: #f9f9f9;
}

.single {
  background-color: #fff;
  text-align: center;
  overflow: hidden;
  border-radius: 20px;
  padding-bottom: 30px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}
.single:hover {
  box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.2);
}
.thumb {
  margin: 40px 0px;
}
.thumb img {
  max-width: 160px;
}
.single h4 {
  font-size: 20px;
  font-weight: 500;
  color: #232323;
  letter-spacing: 0;
  margin-bottom: 8px;
}
.single span {
  display: block;
  color: #666;
  font-weight: 400;
  letter-spacing: 0;
}
.single > ul {
  padding: 0;
  display: table;
  margin: 0 auto;
  margin-top: 40px;
  margin-bottom: 20px;
  list-style: none;
  color: #666;
}
.single > ul > li {
  display: inline-block;
  padding: 0px 10px;
  font-size: 30px;
}
.single > ul > li > a > i:hover {
  color: #153759;
}

/* Team CSS ends here */

/* Contact CSS starts here */
#sec_contact {
  background-color: #ffffff;
  padding-bottom: 0;
}
.center-logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.email-icon {
  float: right;
}

.email-span-height {
  line-height: 4em;
}

.email-span-font {
  font-size: 1.3em;
  color: #153759;
}
/* contact css ends here */

/* footer css starts here */
.footer-area {
  height: 120px;
  text-align: center;
  background-color: #f9f9f9;
  display: flex;
  align-items: center;
}
.footer-area p {
  color: #153759;
}
.footer-area p a {
  color: #153759;
  font-size: 14px;
}

/* footer css ends here */
